<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>VRM on Browser</title>
  <meta name="description" content="Track face and body rigs just your browser webcam!" />
  <meta name="viewport"
    content="viewport-fit=cover, user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />

  <!-- Favicon; Generated from https://realfavicongenerator.net -->
  <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
  <link rel="manifest" href="/public/site.webmanifest">
  <link rel="mask-icon" href="/public/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#86a8be">
  <meta name="theme-color" content="#86a8be">

  <!-- Custom style -->
  <link rel="stylesheet" href="/public/styles/index.css" />

  <!-- Injected server variable -->
  <script>window.ENV = "<%- ENV %>";</script>
</head>

<body>
  <div class="preview">
    <video class="input_video" width="1280px" height="720px"></video>
    <canvas class="guides"></canvas>
  </div>
  <!-- Basic Three.js -->
  <script src="/node_modules/three/build/three.min.js"></script>
  <!-- GLTF Loader for Three.js -->
  <script src="/node_modules/three/examples/js/loaders/GLTFLoader.js"></script>
  <!-- Orbit Controls for Three.js -->
  <script src="/node_modules/three/examples/js/controls/OrbitControls.js"></script>
  <!-- VRM Loader for Three.js -->
  <script src="/node_modules/@pixiv/three-vrm/lib/three-vrm.js"></script>
  <!-- Mediapipe or Tensorflow.js -->
  <script src="/node_modules/@mediapipe/holistic/holistic.js"></script>
  <!-- Mediapipe Drawing Tools -->
  <script src="/node_modules/@mediapipe/drawing_utils/drawing_utils.js"></script>
  <!-- Mediapipe Camera Tools -->
  <script src="/node_modules/@mediapipe/camera_utils/camera_utils.js"></script>
  <script src="/node_modules/kalidokit/dist/kalidokit.umd.js"></script>
  <script src="/public/scripts/index.js"></script>
</body>

</html>