a,
a:visited,
a:link {
    text-decoration: none;
    color: #222;
    display: inline-block;
}

a:hover,
a:visited:hover,
a:link:hover {
    color: #13a3f3;
    cursor: pointer;
}

.preview {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 16px;
    right: 16px;
    overflow: hidden;
    border-radius: 8px;
    background: #222;
}

video {
    max-width: 400px;
    height: auto;
    transform: scale(-1, 1);
}

.preview canvas {
    transform: scale(-1, 1);
}

body {
    margin: 0;
}

canvas {
    display: block;
}

.guides {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    z-index: 1;
}

p {
    color: white;
    padding: 8px 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
        sans-serif;
    margin: 0;
}

.preview a {
    border-radius: 24px;
    margin: 0 4px;
}

.preview a:hover {
    background: #ffffff20;
}

a.current {
    background: #13a3f3;
    pointer-events: none;
}

@media only screen and (max-width: 600px) {
    video {
        max-width: 160px;
    }
}